html body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/essa.jpg);
    font-family: 'minha-fonte';
}

@font-face {
    font-family: 'minha-fonte';
    src: url(fonts/The\ Vicious\ Circle.ttf);
}

.container {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 6px 16px rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    width: 25%;
    height: 90%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(29, 170, 175, 0.559), rgba(68, 13, 231, 0.59));
}

.img-apresent {
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin: 0;
}

.img-apresent p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-apresent .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(3, 8, 53);
}

.info-cont {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.links {
    display: flex;
    flex-flow: column;
    padding-inline-start: 0;
}

.links a {
    text-decoration: none;
    text-align: center;
}

ul li {
    margin: 5px;
    border: 2px solid white;
    padding: 5px;
    border-radius: 20px;
}

ul .whatsapp {
    list-style: inside url(incons/icons8-whatsapp-16.png);
}

ul .github {
    list-style: inside url(incons/icons8-github-16.png);
}
ul .linkedin {
    list-style: inside url(incons/icons8-linkedin-16.png);
}
ul .facebook {
    list-style: inside url(incons/icons8-facebook-novo-16.png);
}

.rodape {
    text-align: center;
}