html body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/essa.jpg);

    font-family: 'minha-fonte';

}

@font-face {
    font-family: 'minha-fonte';
    src: url(fonts/The\ Vicious\ Circle.ttf);
}



.container {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 6px 16px rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    width: 25%;
    height: 90%;

    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, rgba(29, 170, 175, 0.559), rgba(68, 13, 231, 0.59));
}

.img-apresent {
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin: 0;
}


.img-apresent p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-apresent .avatar {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(3, 8, 53);

}

.info-cont {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.links {
    display: flex;
    flex-flow: column;

}

.links a {
    text-decoration: none;
    text-align: center;
    border: solid 2px red;
    width: 150px;
    height: 23PX;
    margin: 8px;
}

a i {
    color: yellowgreen;
}

.rodape {
    text-align: center;
}