html body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/essa.jpg);

    font-family: 'minha-fonte';

}

@font-face {
    font-family: 'minha-fonte';
    src: url(fonts/The\ Vicious\ Circle.ttf);
}



.container {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 6px 16px rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    width: 25%;
    height: 90%;

    align-items: center;
    justify-content: center;

    background: linear-gradient(to right, rgba(6, 30, 116, 0.559), rgba(167, 66, 3, 0.59));
}

.img-apresent {
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin: 0;
}


.img-apresent p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-apresent .avatar {
    
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(3, 8, 53);

    
}

ul {
    padding: 0;
}
.links a {
    text-decoration: none;
    color: white;
}


.links li{
    margin: 10px;
    
    border-radius: 30px;
    text-align: center;
    
    height: 40px;
    width: 200px;
    background-color: rgb(0, 2, 142);
    
    list-style-type: none;
}

.links li:hover {
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.59);
}


.info-cont {
    display: flex;
    flex-flow: column;
    width: 80%;
    text-align: center;
}

.rodape {
    text-align: center;
}